/Function1/PriceDatasetCreation/all_price_data_v0.0.py
/Function1/PriceDataPreprocessing/SriLankaCityMapping/Sri Lanka City Mapping.psd
/Function1/MLModelDev/SVRModelDev/report.log
/Function1/MLModelDev/LabelEncodeTesting
/Function2/DataPreprocessing/FruitDiseaseData
/Function2/DataPreprocessing/Dataset
/Function2/DataPreprocessing/FinalDataset
/Function2/DataPreprocessing/FinalDatasetTrainTest
/Function3/DataPreprocessing/LeafDiseaseData
/Function3/DataPreprocessing/FinalDataset
/Function3/MLModelDev/fun3/VGG16_best_model.h5
/Function3/DataPreprocessing/FinalDataset_800
/Function3/MLModelDev/fun3/VGG16_best_model_800.h5
/Function3/MLModelDev/fun3/VGG16_best_model_800_v1.h5
/Function4/MLModelDev/lightning_logs
/Function2/DataPreprocessing/FinalDatasetv2.0
/Function2/MLModelDev/fun2
/Function2/Pests_in_Cucumber/traced_model.pt
/Function2/DataPreprocessing/FinalDatasetNewImages
/Function2/Pests_in_Cucumber/__pycache__
/API/app/Pests_in_Cucumber/__pycache__
/API/app/__pycache__
/API/app/Pests_in_Cucumber/traced_model.pt
/API/app/src/fun2
/Function3/LeafIdentification/DataPreprocessing/LeavesDataset
/Function3/LeafIdentification/DataPreprocessing/LeavesDatasetAug
/Function3/DataPreprocessing/LeafDiseaseDataV2.0
/Function3/DataPreprocessing/LeafDiseaseDataV2.0Aug
/API/app/src/fun3
/Function3/LeafIdentification/MLModelDev/fun3
/Function3/MLModelDev/fun3
/Function2/DataPreprocessing/VegetableImages
/Function2/DataPreprocessing/FinalDatasetv3.0